modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Crawler"

[[workflows.workflow]]
name = "Crawler"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python crawler.py https://example.com --max-pages 2 --workers 1"

[[workflows.workflow]]
name = "crawler"
mode = "sequential"
author = 48792820

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python crawler/async_crawler_v2.py"

[[workflows.workflow]]
name = "file_dupliation"
mode = "sequential"
author = 48792820

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python file_duplication.py"

[[workflows.workflow]]
name = "filededup_server"
mode = "sequential"
author = 48792820

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python filedup_server.py"

[[workflows.workflow]]
name = "filedup_client"
mode = "sequential"
author = 48792820

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python filedup_client.py"

[[workflows.workflow]]
name = "crawler_v1"
mode = "sequential"
author = 48792820

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python crawler/async_crawler.py"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 9999
externalPort = 80
